@model IEnumerable<AdditionalImg>
@{
    ViewData["Title"] = "Index";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">AdditionalImg List</h2>
		</div>
        <div class="col-6 text-end">
            <a asp-controller="AdditionalImg" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New AdditionalImg
			</a>
		</div>
	</div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                AdditionalImg Name
			</th>
          
            <th></th>
		</tr>
	</thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                  <img src="@obj.AdditionalImgUrl"
			width="100%" style="border-radius:5px; border:1px solid #bbb9b9" /> 
				</td>
               
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="AdditionalImg" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn text-black btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                        <a asp-controller="AdditionalImg" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2"> <i class="bi bi-trash-fill"></i> Delete</a>
					</div>
				</td>
			</tr>
        }
    </tbody>

</table>
</div>