@using Microsoft.AspNetCore.Http
@using Maxima.Models
@using Maxima.Utility


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Maxima.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Maxima.Web.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="//cdn.datatables.net/1.11.2/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://fonts.cdnfonts.com/css/montserrat" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Customer" asp-controller="Home" asp-action="Index">
                    <p1 class="product_card_secondary_text"> LOON&MOON</p1>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    ADMIN
                                </a>

                                <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">DASHBOARD</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">PRODUCTS</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">CATEGORY</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Order" asp-action="Index">ORDERS</a></li>
                                </ul>
                            </li>

                        }
                        <li class="nav-item ms-auto mb-2 mb-lg-0">
                            <a class=nav-link asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                <i class="bi bi-bag"></i>
                            </a>
                        </li>

                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/carousel.js" asp-append-version="true"></script>
    <script src="~/js/changeimg.js" asp-append-version="true"></script>
@*    <script src="~/js/signalr.js"></script>*@



    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
